header {
    height: 58px;
}
.logo-form {
    height: 58px; 
    position: relative; 
    float: left;
    padding: 2px;
    margin: 2px;
}
.reg-form {
    padding: 20px;
    margin: 50px;
}

#intro {
    background-image: url("../img/wallpaper.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    height:400px;
}