#show {
    font-family: Times New Roman;
    font-size: 14px;
    width: 700px;
    font-weight: normal;
    margin: 0 auto;
}
#show p {
    padding: 5px 5px 0 0;
    margin: 0;
}
#show p.right {
    text-align: right;
}
#show p.header {
    font-size: 10pt;
}
#show p.center {
    text-align: center;
}
#show table {
    width: 100%;
    font-size: inherit;
    border-collapse: collapse;
    border-spacing: 0;
}
#show td {
    padding: 7px 7px 0 0;
}
#show table tr td {
    height: 19px;
    vertical-align: middle;
}

#show table tr td.title {
    width: 1px;
    white-space: nowrap;
}
#show table tr td.data {
    border-bottom: 1px solid black;
    font-weight: bold;
}
#show table tr td.help {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 0px;
    color: #7F7F7F;
    font-family: Arial;
    font-size: 70%;
    font-style: italic;
    vertical-align: text-top;
}